.bg-primary {
    border: 1px solid #E91E63;
    background-color: #E91E63 !important;
    color: white;
}

.btn-primary {
    border: 1px solid #E91E63;
    background-color: #E91E63 !important;
    color: white;
}